@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap");

:root {
  --color-text-dark: 000;
  --color-bg-dark: "#222629";
  --color-primary-dark: "#86c232";
  --color-primary-variant-dark: "#61892f";
  --color-secondary-dark: "#474b4f";
  --color-secondary-variant-dark: "#6b6e70";

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

// smooth transition for nav bar
.navbar {
  scroll-behavior: smooth;
}

.ui.fixed.top.sticky {
  width: 100px !important;
  height: 200px !important;
  left: 20px;
}

.ui.fixed.top.sticky li {
  margin: 10px 0;
}

/* $('.ui.sticky').sticky({
    context: '#example1'
}); */

body {
  font-family: "Fredoka", sans-serif !important;
  background: var(--color-bg-dark) !important;
  /* IF bg texture image is found, insert here */
}

/* .skills {
  background: lightgray;
} */

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
  padding: 0;
}

.ui.card.rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0 40px;
}

.ui.card.rating li {
  position: relative;
  background: #f4f4f4;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
}

.ui.card.rating li label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.ui.card.rating li:hover {
  background: #ff6a95;
  color: #fff;
}

[type="radio"] {
  opacity: 0;
}

[type="radio"]:checked ~ label {
  background: blue;
  color: #fff;
}

/* Media Queries (Medium Devices -> Tablet) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
  .ui.fixed.top.sticky {
    width: 60px !important;
    left: 10px;
  }

  .ui.fixed.top.sticky li {
    margin: 5px 0;
  }
}

/* (Small Devices -> Mobile) */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }

  .ui.fixed.top.sticky {
    width: 30px !important;
    left: 5px;
  }
}
